@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
:root {
  --fontFamily: "Roboto", sans-serif;
  --dargkBlue: #195cb4;
  --lightBlue: #41a3f3;
  --white: #ffffff;
  --text: #6a6a6a;
  --fontSize: 16px;
  --transtition: 0.4s ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GLOBAL */
body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  line-height: 1.6;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: block;
}
.container {
  width: 50%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* ----------------------------------- */
/* header */
header {
  height: 60vh;
  position: relative;
}
header::before {
  content: "";
  height: 60vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(60deg, var(--dargkBlue), var(--lightBlue));
  transform: skew(0deg, 6deg);
  transform-origin: right bottom;
}
header nav {
  padding: 10px 20px 0 10px;
}
header nav .logo {
  width: auto;
  height: 50px;
}
header nav .links li {
  margin-left: 10px;
}
header nav .links a {
  color: var(--white);
  text-transform: uppercase;
  transition: var(--transtition);
  padding: 10px;
}
header nav .links li:not(:first-child) a:hover {
  background-color: var(--lightBlue);
  border-radius: 5px;
}

header nav .social input {
  padding: 5px;
  border: none;
  border-radius: 15px;
  transform-origin: right center;
  transition: width var(--transtition);
  width: 150px;
}

header nav .social input:focus {
  border: none;
  width: 200px;
}

header nav .social i {
  color: var(--white);
  font-size: 1.3rem;
  margin-left: 10px;
}

header article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header article div:first-child {
  flex: 0 0 45%;
}
header article div:last-child {
  flex: 0 0 54%;
}
header article h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-shadow: 0 0 5px var(--text);
}
header article a {
  text-transform: uppercase;
  color: var(--dargkBlue);
  font-weight: 500;
  background-color: var(--white);
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 var(--dargkBlue);
  transition: var(--transtition);
}
header article a:hover {
  background-color: var(--text);
  color: var(--white);
}

/* technology */
.technology {
  border-bottom: 1px solid lightgray;
  margin: 0 auto;
  width: 95%;
}
.technology:nth-child(4) {
  border-bottom: none;
}
.technology article {
  padding: 30px 60px;
}
.technology article div:first-child {
  flex: 0 0 38%;
}
.technology article div:last-child {
  flex: 0 0 58%;
}
.try h2,
.technology article h2 {
  font-size: 1.2rem;
  color: var(--dargkBlue);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.try p,
.technology article p {
  color: var(--text);
  line-height: 2;
  margin-bottom: 10px;
}

.technology:nth-child(odd) div:last-child {
  order: -1;
}

/* try */
.try {
  width: 30%;
  margin-bottom: 50px;
}
.try a {
  box-shadow: 0 0px 30px 2px lightgray;
  padding: 30px;
  transition: box-shadow var(--transtition);
}
.try a:hover {
  box-shadow: 0 0px 10px 2px lightgray;
}

.try a:hover h2,
.try a:hover p {
  text-decoration: underline;
}

.try div:first-child {
  flex: 0 0 20%;
}
.try div:last-child {
  flex: 0 0 75%;
}

/* footer */
footer {
  background: linear-gradient(60deg, var(--dargkBlue), var(--lightBlue));
  position: relative;
  padding: 100px 0;
  color: var(--white);
}
footer,
footer a {
  color: var(--white);
}
footer::after {
  content: "";
  position: absolute;
  background-image: url(img/angular_whiteTransparent_withMargin.png),
    url(img/angular_whiteTransparent_withMargin.png);
  background-size: 320px auto, 320px auto;
  background-position: 0 0, 160px 80px;
  opacity: 0.1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
footer article {
  width: 35%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
footer article:last-child {
  margin-top: 30px;
  text-align: center;
  line-height: 2.5;
}

footer h4 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2.5;
}
footer li {
  line-height: 2.5;
}

footer li a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  header {
    padding-top: 10px;
    height: 90vh;
  }
  header::before {
    height: 70vh;
    transform: skew(0);
  }
  header nav .links li {
    margin-left: 0;
  }
  header nav .links li:first-child {
    width: 100%;
  }
  header .social {
    width: 100%;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  header article {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  header article div:last-child,
  header article div:first-child {
    flex: 0 0 100%;
  }

  header article img {
    width: 80%;
    margin: 0 auto;
  }
  .technology article {
    padding: 20px 0px;
  }
  .technology article div:first-child,
  .technology article div:last-child {
    flex: 0 0 100%;
  }
  .technology:nth-child(2n + 1) div:last-child {
    order: 0;
  }

  footer {
    padding: 50px 0;
  }
  footer article:first-child,
  footer article:last-child {
    width: 90%;
    margin: 0 auto;
  }
  footer article:first-child div {
    flex: 0 0 100%;
  }
  footer article:first-child h4 {
    font-weight: 500;
    letter-spacing: 2px;
  }
  footer article:first-child ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
